{% extends 'base.html' %}
{% block pagetitle %}
Contact Us
{% endblock pagetitle %}

{% block body %}

<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 4);"><b>📞Contact-Us📞</b></h1>
        <p class="lead" style="font-weight: 500;color: black;">For Any Queries & Suggestions Contact Us. We Are Happy To
            Help.</p>
    </div>
</div>

<div class="row p-3">
    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Aman Singh</h3> 
                <p class="lead" style="font-weight: 350;">Hi, I am  Aman Singh and  Currently Pursuing B.Tech from ABES institute of technology(Ghaziabad) with
                    Computer Science and engineering (data science)
                    .My Main Focus is on Machine Learning, Deep Learning and Artificial Intelligence.I am Also
                    Interested in Full Stack developer.</p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:katariaamansingh1234@gmail.com'><img
                        src="https://cdn-icons-png.flaticon.com/512/732/732200.png" height="40" width="40"></a> :
                katariaamansingh1234@gmail.com<br><br>
                <a target "=_blank" href= 'https://www.instagram.com/kataria.aman6463?igsh=eHhvYXA4aWFuYm1n'><img 
                    src="https://cdn-icons-png.flaticon.com/512/174/174855.png"  height="40" width="40"></a> : Aman Singh<br><br>
                <a target="_blank" href="https://www.linkedin.com/in/aman-singh-1a5b6b250?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><img
                        src="https://cdn-icons-png.flaticon.com/512/174/174857.png" height="40" width="40"></a> :
                Aman Singh<br>
            </div>
        </div>
    </div>

    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Akshay Rajput</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Akshay Rajput
                    and  Currently Pursuing B.Tech from ABES institute of technology(Ghaziabad) with
                    Computer Science and engineering (data science)
                    .My Main Focus is on Machine Learning, Deep Learning and Artificial Intelligence.I am Also
                    Interested in Full Stack developer.
                </p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:akshayrajput.8789@gmail.com'><img
                        src= "https://cdn-icons-png.flaticon.com/512/732/732200.png"height="40" width="40"></a> :
                akshayrajput.8789@gmail.com<br><br>
                <a target="_blank" href='https://www.instagram.com/krishna.baldaniya/'><img
                        src="https://cdn-icons-png.flaticon.com/512/174/174855.png" height="44" width="44"></a> :
                Akshay Rajput<br><br>
                <a target="_blank" href='https://www.linkedin.com/in/krishna-baldaniya-5547381a1/'><img
                        src= "https://cdn-icons-png.flaticon.com/512/174/174857.png"height="40" width="40"></a> :
                Akshayrajput121<br>
            </div>
        </div>
    </div>
</div>

{% endblock body %}